@use "../../global" as *;
.bl-recruitP{
    background-image: url("../img/bg-geometry.png");
    width: 100%;
}
.pl-recruitMessege{
    padding: 70px 0;
    text-align: center;
    @include mq(medium, max, true) {
        padding: 40px 0;
    }
    p{
        @include fontsize(15);
        margin-bottom: 40px;

    }
}
.pl-recruitMessgeTitle{
    margin: 30px 0 20px 0;
    padding: 0 15px;
    color: #391e88;
    @include mq(medium, max, true) {
        margin: 20px 0;
    }
}
.pl-recruteMessegeT{
    @include fontsize(72);
    font-weight: bold;
    margin-bottom: 10px;
    @include mq(medium, max, true) {
        @include fontsize(48);
        line-height: 1.2;
    }
}
.pl-recruteMessegeSubT{
    @include fontsize(32);
    @include mq(medium, max, true) {
        @include fontsize(18);
        line-height: 1.2;
    }
}
.p-recruitTBox{
    clip-path: polygon(0 15%,100% 0,100% 85%,0  100%);
}
.p-recruitDec{
    padding: 0 0 70px 0;
    text-align: center;
    @include mq(medium, max, true) {
        padding: 40px 0;
    }
}
.p-recruitDecT{
    font-weight: bold;
    line-height: 1;
    color: #391e88;
    @include fontsize(32);
    margin-bottom: 30px;
}
.p-recruitDecBoxs{
    background-color: #fff;
    border: solid 1px #b067cf;;
    border-radius: 6px;
    margin: 30px 20px;
}
.p-recruitDecTable{
    padding: 60px 95px;
    p{
        margin-top: 5px;
        @include fontsize(15);
    }
    @include mq(medium, max, true) {
        padding: 30px 20px;
    }
}
.p-recruitDecTitle{
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    @include fontsize(24);
}
.p-table{
    margin-bottom: 50px;
    th{
        width: 20%;
        padding: 30px 10px;
        vertical-align: middle;
        @include mq(medium, max, true) {
            padding: 0;
            margin: 20px 0 5px 0;
            width: 100%;
        }
    }
    td{
        width: 80%;
        padding: 30px 10px;
        @include mq(medium, max, true) {
            padding: 0;
            margin-bottom: 20px;
            width: 100%;
        }
        p{
            margin-bottom: 10px;
            line-height: 27px;
            letter-spacing: 0.75px;
        }
        ul{
            list-style-type: disc;
            margin-left : 20px;
        }
    }
}
.p-recruitMovie{
    padding: 70px 0;
    text-align: center;
    @include mq(medium, max, true) {
        padding: 40px 0;
    }
}
.p-recruitMovieBox{
    padding: 0 15px;
}
.p-recruitMovieVideo{
    width: 100%;
    iframe{
        @include mq(medium, max, true) {
            height: 365px;
        }
    }
}