@use "../../global" as * ;
.p-recruit{
    padding: 70px 0;
    @include mq(medium, max, true) {
        padding: 0px;
    }   
}
.bl-recruit{
    padding: 0 15px;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    @include mq(medium, max, true) {
        flex-direction: column-reverse;
    }
}
.el-recuruitCatch{
    margin-top: 30px;
}
.bl-recruitBox{
    padding: 70px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color:#F7F7F7 ;
    @include mq(medium, max, true) {
        width: 100%;
    }
    
}
.bl-recruiteImg{
    width: 60%;
    background-position: center center;
    img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    @include mq(medium, max, true) {
        width: 100%;
        height: 200px;
    }
}
