@use "../../global" as *;
.top{
     // @include inner;
    width: 100%;
    height:100vh;
    background-image: url("./../img/hero.jpg");
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bl-top{
    width: 100%;
    height: 100%;
    position: relative;
}
.bl-topContents{
    width: 100%;
    // margin: 0 auto;
    // align-items: center;
    margin-top:265px ;
    text-align: center;
    @include mq(medium, max, true){
        padding: 30px;
        text-align: left;
    }
    h1{
        font-size: 72px;
        color: #fff;
        letter-spacing: 3.6px;
        overflow-wrap:keep-all;
        line-height: 82px;
        @include mq(medium, max, true){
            @include fontsize(40);
            line-height: 1.1;
        }
    }
    .el-topCatchcopy{
        margin-top:5px ;
        color: #fff;
        font-size: 24px;
        @include mq(medium, max, true){
            @include fontsize(16);
            text-align: left;
            margin-top: 20px;
            line-height: 1.1;
        }
    }
}
.bl-topScrolls{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
.bl-topScroll{
    margin: 0 auto;
    align-items: center;
    margin-right: 30px;
}
    p{
        writing-mode: vertical-rl;
        color: #fff; 
        // margin-top: 118px;
        letter-spacing: 2.4px;
    }
    .bl-topScrollLine{
        margin-left:12px;
        top: 0;
        left: 0;
        width: 1px;
        height: 80px;
        background-color: #FFF;
        animation-name: scroll;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
}
@keyframes scroll{
    0%{
        transform: scale(1,0);
        transform-origin: 0 0;
    }
    50%{
        transform: scale(1,1);
        transform-origin: 0 0;
    }
    50.1%{
        transform: scale(1,1);
        transform-origin: 0 100%;
    }
    100%{
        transform: scale(1,0);
        transform-origin: 0 100%;
    }
}
