@use "../../global" as *;
.bl-commonHeadingBox{
    text-align:center;
    .el-commonHeadingBoxTitle{
        @include fontsize(36);
        font-weight: bold;
        color: $color-primary;
        letter-spacing: 1.8px;
        line-height: 1.2;
        vertical-align: top;
        @include mq(medium, max, true) {
            @include fontsize(30);
        }
        &.white{
            color: #fff;
        }
    }
    .el-commonHeadingBoxSubTitle{
        margin: 2px 0 0 0;
        @include fontsize(13);
        font-weight: bold;
        color: $color-primary;
        letter-spacing: 0.5px;
        &.textLeft{
            text-align: left;
            @include mq(medium,max,true){
                text-align: center;
            }
        }
        &.textRight{
            text-align: right;
        }
        &.white{
            color: #fff;
        }
    }

}
.el-serviceBoxCardTitle{
    text-align: center;
    margin: 0 0 15px 0 ;
    color: $color-text;
    @include fontsize(18);
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.9px;
}
.el-serviceBoxCardDescription{
    text-align:left;
    // margin-top: 17px;
    color: $color-text;
    font-size: 15px;
    letter-spacing: 0.75px;
    @include mq(medium, max, true) {
        width: 100%;
        @include fontsize(14);
    }
}
.el-worksBoxDescription{
    text-align:left;
    // margin-top: 17px;
    color: $color-text;
    font-size: 15px;
    letter-spacing: 0.75px;
    @include mq(medium, max, true) {
        width: 100%;
        @include fontsize(14);
        margin-bottom: 30px;
    }
}
.el-commonHeadingBoxDescription{
    text-align:left;
    // margin-top: 17px;
    color: $color-text;
    font-size: 15px;
    letter-spacing: 0.75px;
    @include mq(medium, max, true) {
        width: 100%;
        @include fontsize(14);
    }
}
