@use "../global" as * ;
.footer{
    width: 100%;
    background-color:#120E19;
    padding: 60px 30px;
}
.bl-footer{
    ul{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
    }
    li{
        margin-right: 10px;
        &:nth-last-of-type(0){
            margin-right: 0;
        }
    }
    a{
        @include fontsize(12);
        line-height: 1;
        padding: 5px;
        color: #fff;
        &:hover{
            opacity: 0.6;
            text-decoration: none;
        }
    }
}
.bl-copyright{
    margin-top: 30px;
    text-align: center;
    @include fontsize(10);
    color: #A798B7;
}
.bl-topBtn{
    position: fixed;
    right: 45px;
    bottom: 45px;
    z-index: 10;
    display: none;
}
.bl-topBtnText{
    display: block;
    width: 50px;
    height: 50px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: #391e88;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 50%;
    font-size: 30px;
    line-height: 0.8;
    text-decoration: none;
    &:hover{
        opacity: 0.5;
        text-decoration: none;
    }
}