$color-primary: #391E88;
$color-secondary: #7633A4;
$color-tertiary: #F2C94C;
$color-quaternary: #f8eed6;

// base color
$color-text: #333333 !default;
$color-text-secondary: #E8E8E8;
$color-text-tertiary: #474747;

// base color
$color-back: #333333 !default;
$color-back-secondary: #E8E8E8;
$color-back-tertiary: #474747;

// link color
$color-link: #17344F !default;
$color-link-secondary: #689E94;
$color-link--visited: null !default;

// sns color
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-line: #00b900;